---
layout: html.njk
meta:
  title: Designing for and with the 'Digital Citizen' — ACM DIS Workshop 2024
---

<div class="hero" id="home">
  <img src="/assets/hero.jpg" class="hero-background" />
  <div class="hero-body">
    <center-layout gutters="s-1">
      <p>{{ hero }}</p>
    </center-layout>
  </div>
</div>

<main class="siteMain">
  <center-layout space="s0" gutters="s-1" class="flow">
    {{ content | safe }}
  </center-layout>
</main>
